html > body {
	background-color: #dddfe6;
}

div {
	margin: 30px;
}

.ui.centered.header {
	color: #6a60a9;
}
/*.container {
	width: 70%;
	margin: 0 auto;
}*/

.checked {
	color: grey;
	text-decoration: line-through;
	font-style: italic;
}